
.fancy-header {
    color: Black;
    text-decoration: underline;
    text-align: center;

;
}
h2{
    color: Black;
    text-decoration: underline;
}

body {
    background-image: url("/img/cool-background.png");
    background-color: lightcyan;
    font-family: "Times New Roman", Times, serif;
}
ul{
    font-size: x-large;
    font-weight: bolder;
    padding-left:;
}
ol {
    list-style-type: upper-roman;
    font-size: x-large;
    font-weight: bolder;

}
table, th, td {
    border-style:solid;
    border-color: darkturquoise;
    border-width:.25em;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    color:white;
    font-size: xx-large;

}

.div-color{
    border-color:black;
    background-image: url("/img/pexels-jess-loiterton-4612304.jpg");
}
a:link {
    color:blue;
}

img {
    width:400px;
    height:500px;
    border:10px;
    border-style: solid;
    border-radius: 10px;

}

p {
    font-size: large;
    text-align: center;
}
#first-div{
    background-image: url("/img/pexels-nicole-avagliano-2236713.jpg");
    border:10px;
    border-style: solid;
    border-radius: 10px;

}